<div id="frontArea">
    <div class="container">
        <div class="col-sm-6">
            <div class="subject">
                Grafisk design
            </div>
        </div>
        <div class="col-sm-6">
            <div class="subject">
                Typografi
            </div>
        </div>
        <div class="col-sm-6">
            <div class="subject">
                Grafik og billedbehandling
            </div>
        </div>
        <div class="col-sm-6">
            <div class="subject">
                Grafisk produktionsforståelse
            </div>
        </div>
    </div>
</div>